{% extends 'base.html' %}

<{% block content %}
    <h1>{{ item.name }}</h1>
    <div>
        Количество: {{ item.count | default:"Товар отсутствует на складе"}}
    </div>
    <div>
        {{item.description}}
      
    </div>

    <h2>Availible colors</h2>
    <ul>
        {% for color in colors %}
        {% if color.id in item.color %}
        <li>{{color}}</li>
        {% endfor %}
    </ul>
    <a href="/items">Вернуться к списку товаров</a>
{% endblock %}
{% include 'footer.html' %}
</body>
</html>